:root {
--headers-color: #2E2F42;
--primary-color: #434455;
--secondary-color: #4D5AE5;
--primary-body-color: #FFFFFF;
--secondary-body-color: #F4F4FD;
}

body {
font-family: Roboto, sans-serif;
color: var(--primary-color);
background-color: #FFFFFF;
}

button {cursor: pointer;
}

button:hover, button:focus {background-color: #404BBF;
color: #FFFFFF;}

h1, h2, h3 {color: var(--headers-color);
}

/* cкинути стилі для всіх посилань та списків */
a, link {
    text-decoration: none;

}
ul {
  list-style: none;
}

/* header */
header {
    background-color: var(--primary-body-color);
}

nav {
    color: var(--headers-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;    
    letter-spacing: 0.02em;
}
.list {list-style: none;}
.logo {
    text-transform: uppercase;
    font-family: Raleway, sans-serif;
    color: var(--secondary-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
}

.webone {color: var(--headers-color);}
/* как задать цвет селектору в ул, а не каждому отедльному ли?!!!!*/

.links {
    text-decoration:none;
    color: var(--headers-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.link {text-decoration: none;}

.web {
    color: var(--secondary-color);
}

address {
    font: inherit;
}

.ads {color: var(--primary-color);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.ads:hover, .ads:focus, .links:hover, .links:focus {
    color: #404BBF;
}



/* footer */

.footer-descrip {background-color: var(--headers-color) ;}
.webtwo {color: var(--secondary-body-color);}

.msg {color: var(--secondary-body-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    line-height: 1.5;
}

/* portfolio page */

.paragraf {
    color: var(--primary-color);
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 1.5;
}

.btn-portf { 
    font-family: Roboto, sans-serif;
color: var(--secondary-color);
background-color: #F4F4FD;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
text-align: center;
letter-spacing: 0.04em;
}

/*main page*/

.team {background-color: var(--secondary-body-color);}

.team-list {background-color: #FFFFFF;
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;}

.features {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em; 
    flex: none;
}

.order {background-color: var(--secondary-color);
    color: #FFFFFF;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    }
    
    .hero-section {background-color: var(--headers-color);
        text-align: center;
    }
    
    .hero-title {
        text-align: center;
        color: #FFFFFF;
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
    }

    .tital-features { visibility: hidden;}

    .sub-title-features {font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    }

    .tital-wtf {font-size: 36px;
    line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: var(--headers-color);
}

.team-p {font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.titel-works {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--headers-color);
}

.name {font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;}